# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.psd
homework/modul5a/files/webfontkit-20160224-090540/helveticaneuecyr-thin-demo.html
homework/modul5a/files/webfontkit-20160224-090540/specimen_files/grid_12-825-55-15.css
homework/modul5a/files/webfontkit-20160224-090540/specimen_files/specimen_stylesheet.css
homework/modul5a/files/webfontkit-20160224-090540/stylesheet.css
